.dashboard {
    // background-image: url("../../img/db-bg.jpg") !important;
    background-image: linear-gradient(to bottom right, #5b5f79, #323753, #262B44, #323753);
    background-size: cover;
    flex: 1;
    display: flex;

    .false-ceiling {
        background-image: linear-gradient(to bottom right, #4D557B, #495174, #3E4465, #343956, #2D324C);
        box-shadow: 0px 0px 10px 10px #323752;
        border-radius: 30px;
        flex: 1;
        margin: 60px !important;
    }
}