.no-padding {
    padding: 0 !important;
}

.no-lr-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.full-width {
    height: 100% !important;
}

.no-margin {
    margin: 0 !important;
}