$text-green: seagreen;

.login2, .login1, .login {
    background-image: linear-gradient(to bottom right, #3D2A4B , #6C3B96, #573673, #9E6AC9);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.login1, .login {
    #submit {
        min-width: 250px !important;
        box-shadow: 1px 1px 10px #ccc;
    }
}
.login1 {
    background-image: url("../../img/login1.jpg") !important;
    background-size: cover;
    background-position-x: -450px;
    background-position-y: -100px;
}

.login2 {
    background-image: radial-gradient(#F68D21 20%, #ffffff 60%);
    transform: rotateZ(-35deg);
    border-radius: 50%;
    .outer-container {
        transform: rotateZ(35deg);
        width: 60% !important;
        min-height: 75%;
    }
    .ui.raised.segment {
        width: 100%;
        height: 100%;
    }
    .right-pane {
        background-image: url("https://encryptics.com/wp-content/uploads/2019/06/Technology.jpg");
        background-size: cover;
        display: flex !important;
        background: #040E2F;
        overflow: hidden;
    }
    .video {
        width: 100% !important;
        height: auto;
        transform: scale(2);
    }
    #signup {
        background-color: #F68D21 !important;
    }
    .login-btns {
        background-color: #092B6B !important;
        color: #ffffff !important;
        min-width: 100px !important;
        box-shadow: 1px 1px 10px #ccc;
    }
    .logo {
        position: relative !important;
        top: 0;
        left: 0;
        width: 30px;
    }
    .rember-forgotpass {
        font-size: small;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tnc {
        text-align: left;
        font-size: small;
    }
}

@media screen and (max-width: 500px) {
    .login1 {
        background-position-x: -410px;
        background-position-y: 250px;
    }
}

@media screen and (max-width: 991px) {
    .login2 .right-pane {
        display: none !important;
    }
}
.all-center {
    min-width: 400px;
    min-height: 300px;
}

.white {
    color: #ffffff !important;
}

.segment {
    transition: box-shadow 1s;
}

.segment:hover {
    box-shadow: 2px 2px 20px #fff !important;
}

.themegreen {
    background-color: #52DEE2 !important;
    color: #ffffff !important;
}

.pink {
    background-color: #FE7092 !important;
    color: #ffffff !important;
}

form {
    text-align: center !important;
}

.forgot-password {
    text-align: left;
    margin: 15px 0;
}

.sign-up {
    margin: 25px 0 15px 0;
}

.login {
    .sign-up {
        a {
            color: #E4567A;
        }
    }
}

.text {
    input {
        color: $text-green !important;
    }
    color: $text-green !important;
}